body {
	max-width: 1200px; 
	margin: 0 auto; 
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1, 
h3, 
h4 {
	color: black; 
	text-transform: uppercase; 
}

h1 {
	font-size: 30px; 
	text-align: left; 
	width: auto; 
	float: left; 
	padding: 15px 0;
}

h3 {
	font-size: 18px; 
	text-align: center; 
	padding: 15px;
}

h4 {
	font-size: 12px;
}

.main-title h3 {
	text-align: left; 
	padding: 5px 0px; 
	text-transform: uppercase; 
	color: #77a466; 
}

p {
	padding: 0px 30px; 
	line-height: 21px; 
	font-size: 14px;
}

/*The widths are in a percentage!*/
header {
	width: 100%; 
	height: 110px; 
	border-bottom: 3px solid #77a466; 
	margin: 0 auto;
}

header span {
	color: #77a466;
}

header nav {
	float: right; 
	padding: 45px 0px;
}

header nav a {
	text-decoration: none; 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 14px; 
	padding: 0 10px; 
	color:#77a466;
}


/*The widths are in a percentage!*/
.top-section, 
.bottom-section {
	width: 100%; 
	margin: 0 auto; 
	clear: both;
}

.main-image {
	width: 100%; 
	height: auto; 
	float: left;
}

.main-image img {
	width: 100%; 
    border-bottom: 3px solid #77a466;
    margin-bottom: 30px;
}

.main-title {
	width: 100%; 
	height: auto; 
	float: left;
}

.main-title p {
	padding: 0px; 
	line-height: 25px; 
	font-size: 16px;
}

.section-one, 
.section-two, 
.section-three {
	width: 33%; 
	height: auto; 
	float: left; 
	border-top: 1px solid #eee;
}

.section-one, 
.section-two {
	border-right: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0px;
}

.section-two h4, 
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none; 
	padding: 0px;
}

.menu li {
	padding: 10px 0; 
	color:#77a466;
}

.reviews {
	color: #333; 
	line-height: 21px; 
	font-size: 16px;
}

.address {
	font-size: 16px; 
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	width: 100%; 
	height: 50px; 
	border-top: 3px solid #eee; 
	margin: 0 auto; 
	clear: both; 
	text-align: center;
}

footer span {
	font-family: "Wisdom Script", script; 
	text-transform: lowercase; 
	color: #77a466; 
	font-size: 14px;
}

/*글 디테일 추가*/
div#boardContent {
	padding : 30px;
}

header nav a:hover {
	text-decoration: none; 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 14px; 
	padding: 0 10px; 
	color:#77a466;
}
div#buttonbox {
    width: 90%;
    height: 50px;
    margin : 20px auto;
}
button.btn {
    float: right;
    margin-left: 10px;
    /* margin-bottom : 10px; */
}
span#check {
    float: right;
}
table {
	border-top : 2px solid rgb(128, 128, 128, 0.5);
    width: 90%;
    margin: 0 auto 40px;
}
th {
    background: rgb(161, 211, 142, 0.3);
	width: 80px;
	font-size: 14px;
    color: rgb(51, 51, 51, 0.8);
    padding-left: 20px;
}
tr {
    border-bottom : 0.5px solid rgb(128, 128, 128, 0.5);
    height: 50px;
}
table#detail td {
    padding-left: 15px;
}
td#write {
    padding: 20px;
}
textarea {
    place-content: #333;
}
div#submitbutton {
    margin-top: 20px;
    float: right;
}
div#listreply {
	width: 90%;
	margin: 0 auto
}
table#reply {
    width: 100%;
    margin: 0 auto 40px;
    padding: 10px;
    border-bottom: 0.5px solid rgb(128, 128, 128, 0.5);
}
tr[id^='head'] {
    border-top : 2px solid rgb(128, 128, 128);
    height: 40px;
    padding: 10px;
}
/* td#regDate {
    text-align: right;
    padding-right : 10px;
} */
span#regDate {
    text-align: left;
    padding-left : 10px;
    font-size : 11px;
    color : gray;
}
tr#content {
    min-height: 100px;
    max-height: 300px;
}
td#content {
    padding: 20px;
}
td#writer{
	padding-left : 10px;
}
tr[id^='blank'] {
    height: 10px;
}
td#buttons {
    text-align: right;
	padding: 0 0 0 0;
	line-height: 100%;
	width : 20%;
}
/* a[id^='repl'] {
    margin: 5px;
	display: inline;
	color : black;
} */
i[class^='fa'] {
    margin: 5px;
	display: inline;
	color : black;
}
a[id^='comm']:hover {
    text-decoration : none;
}
table#replysummary {
	padding: 0;
	border : none;
	margin-bottom : 0;
	float : left;
	width : 150px;
}
table#replysummary th, table#replysummary tr {
	padding:0;
	border : none;
	background-color : white;
	height : 20px;
}
table#replysummary span {
	padding-left : 10px;
}
span.label {
	margin-left : 5px;
}
span#count {
	color : #10806b;
}
textarea#reContent {
	width : 100%;
}
td#updatebutton {
	width:10%;
}

div#rere {
	width : 90%;
	float: right;
	margin : 10px;
}
tr.rere {
	min-height : 50px;
}

button#writeRepl {
	margin-top : 10px;
}