body {
	max-width: 1200px; 
	margin: 0 auto; 
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1, 
h3, 
h4 {
	color: black; 
	text-transform: uppercase; 
}

h1 {
	font-size: 30px; 
	text-align: left; 
	width: auto; 
	float: left; 
	padding: 15px 0;
}

h3 {
	font-size: 18px; 
	text-align: center; 
	padding: 15px;
}

h4 {
	font-size: 12px;
}

.main-title h3 {
	text-align: left; 
	padding: 5px 0px; 
	text-transform: uppercase; 
	color: #77a466; 
}

p {
	padding: 0px 30px; 
	line-height: 21px; 
	font-size: 14px;
}

/*The widths are in a percentage!*/
header {
	width: 100%; 
	height: 110px; 
	border-bottom: 3px solid #77a466; 
	margin: 0 auto;
}

header span {
	color: #77a466;
}

header nav {
	float: right; 
	padding: 45px 0px;
}

header nav a {
	text-decoration: none; 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 14px; 
	padding: 0 10px; 
	color:#77a466;
}

/* 게시글 화면 추가 */
header nav a:hover {
	text-decoration: none; 
	text-transform: uppercase; 
	font-weight: bold; 
	font-size: 14px; 
	padding: 0 10px; 
	color:#77a466;
}
/* span#title {
	float: right;
} */
div#image {
	overflow: hidden;
	height: 300px;
}
div.col-md-4 {
	margin-top: 30px;
}
div.col-md-12 {
	min-height: 400px;
	margin-top: 50px;
	padding-bottom : 10px;
}

hr {
	border: 0.5px solid gray;
}

span#title {
	font-size: 18px;
}
div#writer {
	margin-top : 10px;
}
img#item {
	width: 100%;
}
img#none {
	width: 100%;
	padding-top : 80px;
}
div#image:hover {
	opacity: 0.7;
}
div.main-image {
	margin-bottom: 20px;
}
div.form-inline {
	margin-left: 30px;
}
a.btn {
	margin-left: 45px;
	margin-bottom : 20px;
}
span#title a {
	text-decoration: none;
	color: #333;
}
div#boarditem {
	max-height : 446px;
	min-height : 400px;
}
span#title a:hover {
	color : #77a466;
}
div#search {
	width: 360px;
	/* margin-left: 900px; */
	float: right;
}
#searchsel {
	height: 34px;
	margin-right: 5px;
}
div.col-md-4 {
	position : relative;
	text-align: center;
}
div#blur {
	position : absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.hide {
	display: none;
}
.show {
	display: block;
}

/* page 추가 */
.pagination {
	display : inline-block;
}
.pagination a {
	color : black;
	float: left;
	padding : 8px 16px;
	text-decoration: none;
	position: relative;
	text-align: center;
}
.pagination a.active {
	background-color : #4caf50;
	color : white;
}
.pagination a:hover:not(.active) {
	background-color : #ddd;
}

div#paging {
	margin-top : 60px;
}
/*The widths are in a percentage!*/
.top-section, 
.bottom-section {
	width: 100%; 
	margin: 0 auto; 
	clear: both;
}
span#exchangetitle {
	font-size : 48px;
	color : #77a466;
	font-weight : bold;
	margin-left : 20px;
}

.main-image {
	width: 100%; 
	height: auto; 
	float: left;
}

.main-image img {
	width: 100%; 
	border-bottom: 3px solid #77a466;
}

.main-title {
	width: 100%; 
	height: auto; 
	float: left;
}

.main-title p {
	padding: 0px; 
	line-height: 25px; 
	font-size: 16px;
}

.section-one, 
.section-two, 
.section-three {
	width: 33%; 
	height: auto; 
	float: left; 
	border-top: 1px solid #eee;
}

.section-one, 
.section-two {
	border-right: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0px;
}

.section-two h4, 
.section-three h4 {
	padding: 10px 30px;
}

.menu {
	list-style: none; 
	padding: 0px;
}

.menu li {
	padding: 10px 0; 
	color:#77a466;
}

.reviews {
	color: #333; 
	line-height: 21px; 
	font-size: 16px;
}

.address {
	font-size: 16px; 
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	width: 100%; 
	height: 50px; 
	border-top: 3px solid #eee; 
	margin: 0 auto; 
	clear: both; 
	text-align: center;
}

footer span {
	font-family: "Wisdom Script", script; 
	text-transform: lowercase; 
	color: #77a466; 
	font-size: 14px;
}